/* Styles that clean up the layout;
 * you can ignore these */
div {
    display: inline-block;
    border: 1px solid lightgray;
    margin: 1em;
}

div, span {
    padding: 1em;
}

table, th, td {
  border: 1px solid black;
}
table{
  width:50%;
}

body
 {
#  font-family: 'Lato', sans-serif;
#  background-color: #A0C6B2;
}

h1 {
  color: #865F3C;
  margin-top: 40px;
  font-weight: 300;
}

h2 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 30px;
  color: #906666;
}



.ahl
{
  fill: green;
}

.al
{
  fill: blue;
}


.anl
{
  fill: purple;
}
